<h1>Consulta de CEP</h1>

<form method="POST">
    <input name="cep" placeholder="Digite o CEP"></input>
    <button>Buscar</button>
    {% if result%}
        {% if result.erro %}
            <p style="color: red;">{{result.erro}}</p>
        {% else %}
            <p><b>Rua:</b>{{result.logradouro}}</p>
            <p><b>Bairro:</b>{{result.bairro}}</p>
            <p><b>Cidade:</b>{{result.cidade}}</p>
            <p><b>Estado:</b>{{result.estado}}</p>
        {% endif%}
    {% endif%}

</form>
<!-- para rodar o flask com o Jinja — Jinja Documentation  com o html,
vc tem que digitar no prompt
python run.py 
e clicar em 
 Running on http://127.0.0.1:5000-->
